.compatibility-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .compatibility-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .select-container {
    display: flex;
    flex-direction: column;
  }

  .heart-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .heart-image {
    width: 300px;
  }

  .compatibility-percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: cyan;
    font-size: 48px;
    font-weight: bold;
  }

  .submit-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .submit-button {
    width: 100px;
    text-align: center;
  }
