.client-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 350px;
}

.client-img img {
    width: 150px;
    height: 150px;
}

.info-client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 350px;
    width: 100%;
}

.basic-info-client {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 70%;
}

.upper-info {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
    width: 100%;
}

.lower-info {
    display: flex;
    flex: 2;
    height: 100%;
    width: 100%;
    align-items: center;
}

.lower-info li {
    margin: 25px 0;
}

.info-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.fixed-hr {
    width: 100%;
    margin: 10;
}

.info-meetings {
    width: 50%;
}
.info-payements {
    width: 50%;
}
