.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .must-sees {
    background-color: #000000;
    border: 2px solid #686868;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  
  .must-title {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .must-number {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  