@import "../../node_modules/bulma/bulma.scss";

html {
    background-color: white;
    color: black;
}

.navbar {
    background-color: white;
    color: black;
    // border-bottom: 1px solid #000000;
}
