@import "../../node_modules/bulma/bulma.scss";

html {
    background-color: #f3f3f3;
    color: black;
}

.menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: 250px;
  margin-right: 250px;
  width: 50px;
  height: auto;
  cursor: pointer;
}

.logout {
  position: absolute;
  top: 4%;
  left: 93%;
  background-color: #ff7a7a;
  border: 2px solid #ff3030;
  border-radius: 10px;
}

.setting {
  position: absolute;
  top: 4%;
  left: 89%;
  width: 45px;
  height: 45px;
  padding: 0%;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.loading-screen {
  background-color: white;
  border-color: white;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
  padding-top: 80px;
}

.main {
  padding-top: 60px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  z-index: 1000;
}

.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-inner input {
  margin-bottom: 10px;
  padding: 5px;
}

.popup-button {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}